#
# BASE
#
Django
djangorestframework
channels
channels-redis
psycopg2-binary
djangorestframework-simplejwt
PyJWT
daphne
celery
redis
argon2-cffi
django-cors-headers
python-dotenv
#
# TESTING
#
pytest
pytest-django
pytest-asyncio
#
# LINTING & FORMATTING
#
flake8
black
#
# SECURITY
#
safety
